<ngx-code-editor-app [selection]="selection" [theme]="theme" [language]="language" [defaultValue]="defaultValue" (contentChange)="contentChange($event)"></ngx-code-editor-app>
<button (click)="getValue()">getValue</button>
<ng-template #selection>
  <select [(ngModel)]="language" (change)="languageChange()">
    <option value="java">java</option>
    <option value="javascript">javascript</option>
    <option value="json">json</option>
    <option value="sql">sql</option>
    <option value="groovy">groovy</option>
    <option value="plaintext">plaintext</option>
    <option value="abap">abap</option>
    <option value="apex">apex</option>
    <option value="azcli">azcli</option>
    <option value="bat">bat</option>
    <option value="bicep">bicep</option>
    <option value="cameligo">cameligo</option>
    <option value="clojure">clojure</option>
    <option value="coffeescript">coffeescript</option>
    <option value="c">c</option>
    <option value="cpp">cpp</option>
    <option value="csharp">csharp</option>
    <option value="csp">csp</option>
    <option value="css">css</option>
    <option value="dart">dart</option>
    <option value="dockerfile">dockerfile</option>
    <option value="ecl">ecl</option>
    <option value="elixir">elixir</option>
    <option value="flow9">flow9</option>
    <option value="fsharp">fsharp</option>
    <option value="go">go</option>
    <option value="graphql">graphql</option>
    <option value="handlebars">handlebars</option>
    <option value="hcl">hcl</option>
    <option value="html">html</option>
    <option value="ini">ini</option>
    <option value="julia">julia</option>
    <option value="kotlin">kotlin</option>
    <option value="less">less</option>
    <option value="lexon">lexon</option>
    <option value="liquid">liquid</option>
    <option value="lua">lua</option>
    <option value="m3">m3</option>
    <option value="markdown">markdown</option>
    <option value="mips">mips</option>
    <option value="msdax">msdax</option>
    <option value="mysql">mysql</option>
    <option value="objective-c">objective-c</option>
    <option value="pascal">pascal</option>
    <option value="pascaligo">pascaligo</option>
    <option value="perl">perl</option>
    <option value="pgsql">pgsql</option>
    <option value="php">php</option>
    <option value="pla">pla</option>
    <option value="postiats">postiats</option>
    <option value="powerquery">powerquery</option>
    <option value="powershell">powershell</option>
    <option value="proto">proto</option>
    <option value="pug">pug</option>
    <option value="python">python</option>
    <option value="qsharp">qsharp</option>
    <option value="r">r</option>
    <option value="razor">razor</option>
    <option value="redis">redis</option>
    <option value="redshift">redshift</option>
    <option value="restructuredtext">restructuredtext</option>
    <option value="ruby">ruby</option>
    <option value="rust">rust</option>
    <option value="sb">sb</option>
    <option value="scala">scala</option>
    <option value="scheme">scheme</option>
    <option value="scss">scss</option>
    <option value="shell">shell</option>
    <option value="sol">sol</option>
    <option value="aes">aes</option>
    <option value="sparql">sparql</option>
    <option value="st">st</option>
    <option value="swift">swift</option>
    <option value="systemverilog">systemverilog</option>
    <option value="verilog">verilog</option>
    <option value="tcl">tcl</option>
    <option value="twig">twig</option>
    <option value="typescript">typescript</option>
    <option value="vb">vb</option>
    <option value="xml">xml</option>
    <option value="yaml">yaml</option>
    <option value="ada">ada</option>
    <option value="cobol">cobol</option>
    <option value="d">d</option>
    <option value="dart">dart</option>
    <option value="elixir">elixir</option>
    <option value="erlang">erlang</option>
    <option value="fortran">fortran</option>
    <option value="haskell">haskell</option>
    <option value="julia">julia</option>
    <option value="ocaml">ocaml</option>
    <option value="racket">racket</option>
    <option value="sbcl">sbcl</option>
    <option value="scala">scala</option>
  </select>
  <select [(ngModel)]="theme">
    <option value="vs">VS</option>
    <option value="vs-dark">VS Dark</option>
    <option value="hc-black">High Contrast (Dark)</option>
    <!--  <option value="active4d">Active4D</option>-->
    <!--  <option value="all-hallows-eve">All Hallows Eve</option>-->
    <!--  <option value="amy">Amy</option>-->
    <!--  <option value="birds-of-paradise">Birds of Paradise</option>-->
    <!--  <option value="blackboard">Blackboard</option>-->
    <!--  <option value="brilliance-black">Brilliance Black</option>-->
    <!--  <option value="brilliance-dull">Brilliance Dull</option>-->
    <!--  <option value="chrome-devtools">Chrome DevTools</option>-->
    <!--  <option value="clouds-midnight">Clouds Midnight</option>-->
    <!--  <option value="clouds">Clouds</option>-->
    <!--  <option value="cobalt">Cobalt</option>-->
    <!--  <option value="dawn">Dawn</option>-->
    <!--  <option value="dracula">Dracula</option>-->
    <!--  <option value="dreamweaver">Dreamweaver</option>-->
    <!--  <option value="eiffel">Eiffel</option>-->
    <!--  <option value="espresso-libre">Espresso Libre</option>-->
    <!--  <option value="github">GitHub</option>-->
    <!--  <option value="idle">IDLE</option>-->
    <!--  <option value="katzenmilch">Katzenmilch</option>-->
    <!--  <option value="kuroir-theme">Kuroir Theme</option>-->
    <!--  <option value="lazy">LAZY</option>-->
    <!--  <option value="magicwb&#45;&#45;amiga-">MagicWB (Amiga)</option>-->
    <!--  <option value="merbivore-soft">Merbivore Soft</option>-->
    <!--  <option value="merbivore">Merbivore</option>-->
    <!--  <option value="monokai-bright">Monokai Bright</option>-->
    <!--  <option value="monokai">Monokai</option>-->
    <!--  <option value="night-owl">Night Owl</option>-->
    <!--  <option value="oceanic-next">Oceanic Next</option>-->
    <!--  <option value="pastels-on-dark">Pastels on Dark</option>-->
    <!--  <option value="slush-and-poppies">Slush and Poppies</option>-->
    <!--  <option value="solarized-dark">Solarized-dark</option>-->
    <!--  <option value="solarized-light">Solarized-light</option>-->
    <!--  <option value="spacecadet">SpaceCadet</option>-->
    <!--  <option value="sunburst">Sunburst</option>-->
    <!--  <option value="textmate&#45;&#45;mac-classic-">Textmate (Mac Classic)</option>-->
    <!--  <option value="tomorrow-night-blue">Tomorrow-Night-Blue</option>-->
    <!--  <option value="tomorrow-night-bright">Tomorrow-Night-Bright</option>-->
    <!--  <option value="tomorrow-night-eighties">Tomorrow-Night-Eighties</option>-->
    <!--  <option value="tomorrow-night">Tomorrow-Night</option>-->
    <!--  <option value="tomorrow">Tomorrow</option>-->
    <!--  <option value="twilight">Twilight</option>-->
    <!--  <option value="upstream-sunburst">Upstream Sunburst</option>-->
    <!--  <option value="vibrant-ink">Vibrant Ink</option>-->
    <!--  <option value="xcode-default">Xcode_default</option>-->
    <!--  <option value="zenburnesque">Zenburnesque</option>-->
    <!--  <option value="iplastic">iPlastic</option>-->
    <!--  <option value="idlefingers">idleFingers</option>-->
    <!--  <option value="krtheme">krTheme</option>-->
    <!--  <option value="monoindustrial">monoindustrial</option>-->
  </select>
</ng-template>
